			<div class="col-md-8">
				<article><table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr><td align="left" class="body"><%= image_tag 'clear.gif', size: '1x10' %><br>
    <span class="headline">Contact Us</span>
    </td></tr></tbody></table><%= image_tag 'clear.gif', size: '1x10' %><br><table width="100%" border="0"><tbody><tr><td valign="top"><span class="subheadline">Peniel Seventh-day Adventist Church (Fort Myers)</span><br>2663 2nd St<br>Fort Myers, FL, 33916-2628<br>USA<br><br><span class="subheadline">Phone: </span>239-334-4117<br><span class="subheadline">Fax: </span>239-334-9125<br><br><span class="subheadline">Pastor:</span>&nbsp;Everest H. Clarke<br><br><span class="subheadline">Service times:</span><br>Sabbath School: 9:15 am<br>Worship Service: 11:00 am<p><span class="subheadline">Map:</span> <a href="http://us.rd.yahoo.com/maps/us/insert/Tmap/extmap/*-http://maps.yahoo.com/maps_result?addr=2663+2nd+St&csz=Fort+Myers+FL+33916-2628&name=Peniel+Seventh-day+Adventist+Church+(Fort+Myers)&country=us" target="_blank">Yahoo map</a> | 

<a href="http://www.mapquest.com/maps/map.adp?address=2663+2nd+St&city=Fort%20Myers&state=FL&zipcode=33916-2628%20&country=US&cid=lfmaplink">MapQuest</a> | 

<a href="http://maps.google.com/maps?q=2663+2nd+St%2C+Fort+Myers+FL+33916-2628">Google map</a>


<br><br><br><br><font color="a0a0a0" size="1">To update contact information, <a href="http://www.eadventist.net/search?org=ANTTPE">visit eAdventist.net</a>, and click the link "Request Changes". <br>Updating eAdventist.net will update the information on this page as well.</font></p></td><td valign="top"><img src="./contact_files/nophoto.gif" border="0" width="160" height="120"></td></tr></tbody></table></article>
			</div>
