<!-- h2>Peniel Seventh Day Adventist Church of Fort Myers</h2 -->

			<div id="content">
		<div id="content-container" class="container">
			<div id="content-container-row" class="row">
				<div id="content-left-span" class="col-sm-8">
					<div id="content-span-row" class="row">
							<div id="content-col-sm-1" class="col-sm-12"><br><p>Welcome to the Peniel Seventh-day Adventist Church (Fort Myers) in Fort Myers, Florida. We are a Christian community that would love to have you join our family. To see more about what we believe you can visit our <a href='article.php?id=2'>About us</a> page. Please join us for Bible study, worship and prayer.<br><br>Pastor&nbsp;Everest Clarke<br>Peniel Seventh-day Adventist Church (Fort Myers)<br><hr/><img src='<%= asset_path 'join_us.jpg' %>' border=0 align=left valign=top><br><strong>&nbsp;Join Us This Saturday</strong><br /><br><span class="subheadline">Service times:</span><br>Sabbath School: 9:15 am<br>Worship Service: 11:00 am<p><span class="subheadline">Map:</span> <A HREF="http://us.rd.yahoo.com/maps/us/insert/Tmap/extmap/*-http://maps.yahoo.com/maps_result?addr=2663+2nd+St&csz=Fort+Myers+FL+33916-2628&name=Peniel+Seventh-day+Adventist+Church+(Fort+Myers)&country=us" target="_blank">Yahoo map</A> | 

<A HREF="http://www.mapquest.com/maps/map.adp?address=2663+2nd+St&city=Fort Myers&state=FL&zipcode=33916-2628 &country=US&cid=lfmaplink">MapQuest</A> | 

<A HREF="http://maps.google.com/maps?q=2663+2nd+St%2C+Fort+Myers+FL+33916-2628">Google map</A>


</div><!-- end #content-col-sm-1 -->
					</div><!-- end #content-span-row -->
				</div><!-- end #content-left-span -->
				<div class="col-sm-4">
				    <div id="sidebar" class="col-sm-12"><!-- sidebar --><span class="DigestTitle">The Bible Says</span><br><table width=100% border=0><tr><td valign='top'><a href='http://www.e-gracenotes.org/article.php?id=2733' target='_top' class=FeedLink><img src='<%= asset_path 'no_headlights_thumb2.jpg' %>' border=0 nosave></a></a></td><td valign='top'><a href='http://www.e-gracenotes.org/article.php?id=2733' target='_top' class=FeedLink><span class='FeedTitle'>No Headlights!</span><br><span class='FeedDescription'>I was driving in a city a couple of hours from my home. I’d&nbsp;&raquo;</span></a></td></tr></table><table width=100% border=0><tr><td valign='top'><a href='http://www.e-gracenotes.org/article.php?id=95' target='_top' class=FeedLink><img src='<%= asset_path 'pump_fill_thumb2.jpg' %>' border=0 nosave></a></a></td><td valign='top'><a href='http://www.e-gracenotes.org/article.php?id=95' target='_top' class=FeedLink><span class='FeedTitle'>Drain and Fill</span><br><span class='FeedDescription'>Growing up my father owned a gas station and my two brothers and&nbsp;&raquo;</span></a></td></tr></table><table width=100% border=0><tr><td valign='top'><a href='http://www.e-gracenotes.org/article.php?id=3829' target='_top' class=FeedLink><img src='<%= asset_path 'embracing_struggle_thumb2.jpg' %>' border=0 nosave></a></a></td><td valign='top'><a href='http://www.e-gracenotes.org/article.php?id=3829' target='_top' class=FeedLink><span class='FeedTitle'>Embracing Struggle</span><br><span class='FeedDescription'>"We are pressed on every side by troubles, but we are not&nbsp;&raquo;</span></a></td></tr></table></div>
				</div><!-- end #content-right-span -->
			</div><!-- end #content-container-row -->
		</div><!-- end #content-container -->
	</div><!-- end #content -->
	


<% content_for :script do %>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5805667-1");
pageTracker._trackPageview();
</script>
<% end %>
