<% str = 'Peniel Seventh Day Adventist Church of Fort Myers' %>
<h2><%= str %></h2>
<!-- p>MD5: <%= Digest::MD5.hexdigest(str) %></p -->
<!-- p>SHA1: <%= Digest::SHA1.hexdigest(str) %></p -->
<!-- p>SHA256: <%= Digest::SHA256.hexdigest(str) %></p -->
