			<div class="col-md-8">
				<article><img src="./about sda_files/clear.gif" width="1" height="10"><br>
    <span class="headline">Resources</span><br/><img src="./about sda_files/clear.gif" width="1" height="10"><br>Resources Content</article>
			</div>
